div#backlink {
	float:right;
}

body {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}

fieldset {
	margin: 2em 1em 2em 1em;
	padding: 1em;
}

legend {
	font-weight: bold;
}

h1 {
	color: #000080;
}

.input_err {
	border: 2px red solid;
}
