/**
 * @file
 * Views Styling
 */


.views-view-grid td {
	background-image: url("../images/pixel_75.png");
	border: 1px white solid;
	border-radius: 10px;
	padding: 20px;
	padding-top: 10px;
	margin: 20px;
	text-align: center;
}

.views-view-grid td:hover {
	box-shadow: 0 0 10px white;
	background-image: url("../images/pixel_90.png");
}

table.views-view-grid {
	border-spacing: 20px;
	border-collapse: separate;
}

.views-view-grid h2 {
	margin-bottom: 10px;
}

.views-view-grid h2.node-title a {
	color: black;
	text-decoration: none;
	font-size: 0.9em;
}

.views-view-grid h2.node-title a:hover {
	text-decoration: underline;
}

.submitted {
	position: static;
	top: 0;
	right: 0;
	color: gray;
	margin-bottom: 5px;
}

.view-news h2.node-title {
	margin-bottom: 0px;
}

.view-news .field-type-image {
	float: left;
	margin-right: 10px;
}

.view-news .links {
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
}

.view-news .links li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

.view-news p {
	margin-bottom: 0;
}

.view-news .views-row {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px white solid;
}

.node-newsartikel.view-mode-full .field-type-image {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}
